# DB
DATABASE_URL="postgresql://[user]:[password]@[host]:5432/postgres"

# Better Auth
BETTER_AUTH_SECRET="792xPpTCkyDVhGLtG3k6OwcxD1Ww/rp2ngWx/Azqze0=""
BETTER_AUTH_URL="http://localhost:3000"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://[project].supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY="[publishable key]"
SUPABASE_SERVICE_ROLE_KEY="[service role key]"
