# DB
# セッションプーラー（接続プール用、ポート6543）
DATABASE_URL="postgresql://[user].[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true"
# ダイレクト接続（マイグレーション用、ポート5432）
DIRECT_URL="postgresql://[user].[project-ref]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres"

# Better Auth
BETTER_AUTH_SECRET="792xPpTCkyDVhGLtG3k6OwcxD1Ww/rp2ngWx/Azqze0=""
BETTER_AUTH_URL="http://localhost:3000"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://[project].supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY="[publishable key]"
SUPABASE_SERVICE_ROLE_KEY="[service role key]"
